{% extends 'base.html'  %}

{% block content %}
<h1 class="display-1">@{{ user.username }}</h1>
<h6 class="display-1">This is your home, {{ user.first_name }} {{ user.last_name }}</h6>

<br>
<hr class="solid">
<br>
    <div class="row">
        <div class="col-sm-10 col-12">
            <div class="feedback-container">
            <h3 class="Feedback-title">Feedback</h3>
                <ul class="feedback">
                        {% for feedback in user.feedback %}
                            <li>{{feedback.title}}
                                <small>{{ feedback.content }}</small>
                            </li>
                            <form class="edit-feedback-button">
                                {{form.hidden_tag()}}
                                <button class="btn btn-primary btn-sm" formaction= 
                                "/feedback/{{ feedback.id }}/update" formmethod="GET">Edit</button>
                                <button class="btn btn-danger btn-sm" formaction= 
                                "/feedback/{{ feedback.id }}/delete" formmethod="POST">Delete</button>
                            </form>
                        {% endfor %}
                </ul>
            </div>
            <div class="feedback-add">
                <p>
                    <a href="/users/{{ user.username }}/feedback/add" class="btn btn-primary">Add Feedback</a>
                </p>
                <form>
                    <button class="btn btn-danger btn-sm" formaction="/feedback/{{ user.username }}/delete" formmethod="POST">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}